.form_header {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #feeed6;
    padding: 10px 14px;
    max-width: 875px;
    margin: 2px auto;
    color: #696969FF;
    box-sizing: border-box;
}

.paragraph, .description {
    margin-block-end: 14px;
}

.title {
    font-size: 30px;
    font-weight: normal;
    margin-block-start: auto;
    margin-block-end: auto;
}

.crossed-out {
    text-decoration: line-through;
}

.sub-text {
    color: #4294b7;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    margin: auto;
}

.description {
    font-size: 20px;
    text-align: justify;
    text-indent: 16px;
    line-height: 1.5;
    margin-top: 0.7em;
}