* {
    box-sizing: border-box;
}

.form_header h1 {
    font-family: Arial, sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: #676565;
    margin: 6px 0;
    border: #588db3;
}

.form {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #feeed6;
    color: #676565;
    padding-top: 18px;
    padding-bottom: 11px;
}

.form_header h1, .form {
    padding-left: 22px;
    padding-right: 22px;
}

.form_header, .form {
    margin: 0 10px;
    max-width: 844px;
}

.form input, .form textarea {
    font-weight: normal;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 11px 10px;
    border: none;
}

.form input::placeholder, .form textarea::placeholder {
    color: #999;
}

.form textarea {
    min-height: 20px;
    height: 128px;
    padding: 10px;
    margin-bottom: 0px;
    resize: vertical;
}

.form .callback {
    font-weight: normal;
    color: #737373;
}

.callback {
    margin-bottom: 13px;
}

.send_button_container {
    display: flex;
    justify-content: flex-end;
    margin: 9px 0 4px;
}

.send_button {
    padding: 10px 14px;
    font-weight: bold;
    text-align: center;
    background-color: #378db2;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0;
}

.send_button:hover {
    background-color: #32728d;
}